<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Subdomain</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.subdomain %></td>
    <td><%= blog.title %></td>
    <td><%= blog.description %></td>
    <td class="actions">
      <%= link_to 'Show', blog, :class => 'permalink' %>
      <%= link_to 'Edit', edit_blog_path(blog), :class => 'edit' %>
      <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'destroy' %>
    </td>
  </tr>
<% end %>
</table>

<%= link_to 'New Blog', new_blog_path, :class => 'new blog' %>