<div class="new-post-links">
  <%= link_to 'Text', new_post_path(:text) %>
  <%= link_to 'Photo', new_post_path(:photo) %>
  <%= link_to 'Quote', new_post_path(:quote) %>
  <%= link_to 'Link', new_post_path(:link) %>
  <%= link_to 'Chat', new_post_path(:chat) %>
  <%= link_to 'Audio', new_post_path(:audio) %>
  <%= link_to 'Video', new_post_path(:video) %>
</div>