<div class="post <%= post.type %>" id="post-<%= post.id %>">
  
  <%= link_to post.blog.avatar, blog_front_url(:host => with_subdomain(post.blog.subdomain)) %>

  <%= link_to post.blog.subdomain, blog_front_url(:host => with_subdomain(post.blog.subdomain)) %>
  
  <%= render :partial => "posts/single_content/#{post.type}", :locals => {:post => post} %>

  <% if !post.tag_list.empty? %>
    <div class="tags">Tagged: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
  <% end %>

  <div class="actions">
    <%= link_to 'Show', [post.blog, post], :class => 'permalink' %>
    <%= link_to 'Edit', edit_blog_post_path(post.blog, post), :class => 'edit' %>
    <%= link_to 'Destroy', [post.blog, post], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'destroy' %>
  </div>

</div>