<div class="post <%= post.type %>" id="post-<%= post.id %>">
  
  <%= link_to post.blog.avatar, blog_url(post.blog) %>

  <%= link_to post.blog.subdomain, blog_url(post.blog) %>
  
  <%= render :partial => "posts/single_content/#{post.type}", :locals => {:post => post} %>

  <% if !post.tag_list.empty? %>
    <div class="tags">Tagged: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></div>
  <% end %>

  <div class="actions">
    <%= link_to 'Show', post_url(post, :subdomain => post.blog.subdomain), :class => 'permalink' %>
    
    <% if (can? :like, post) %>
      / <%= like_button post %>
    <% end %>

    <% if can? :update, post %>
       / <%= link_to 'Edit', edit_blog_post_path(post.blog, post), :class => 'edit' %>
    <% end %>

    <% if can? :destroy, post %>
      / <%= link_to 'Destroy', [post.blog, post], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'destroy' %>
    <% end %>

  </div>

</div>