<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Cnoofy</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page">

<header class="masthead site-header" role="banner">
    <hgroup>
      <h1 class="site-title">
        <%= link_to 'Cnoofy', :root, :rel => 'home' %>
      </h1>
      <h2 class="site-description">Blogs for people</h2>
    </hgroup>
    <nav role="navigation" class="site-navigation main-navigation">
      <ul class="nav">
      </ul>
    </nav><!-- .site-navigation .main-navigation -->
    <div class="top">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </header>

<%= yield %>

</div>
</body>
</html>